.box-header.with-border
  .row
    .col-sm-6
      %h3.box-title Trasy
    .col-sm-6.text-right
      = link_to 'Dodaj nową trasę', new_zut_route_path, class: 'btn btn-primary'

.box-body.table-responsive.no-padding
  %table.table.table-hover
    %thead
      %tr
        %th Nazwa
        %th.action Punkty
        %th.action Historia trasy
        %th.action Edycja
        %th.action Karta kierowcy
        -# %th.action Edytuj
        -# %th.action Usuń
    %tbody
      - @routes.each do |route|
        %tr
          %td= route.name
          %td.action= route.containers.count
          %td.action
            = link_to(zut_route_route_versions_path(route), class: 'btn btn-info') do
              = route.route_versions.count
              %i.fa.fa-list
          %td.action= link_to 'edytuj', zut_route_path(route), class: 'btn btn-info'
          %td.action= link_to 'generuj kartę', export_zut_route_path(route), class: 'btn btn-info'
          -# %td.action= link_to 'edytuj', edit_zut_route_path(route), class: 'btn btn-info'
          -# %td.action= link_to 'usuń', zut_route_path(route), method: :delete, class: 'btn btn-danger'

  = will_paginate(@routes)