<%= form_for(@bin) do |f| %>
  <% if @bin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bin.errors.count, "error") %> prohibited this bin from being saved:</h2>

      <ul>
      <% @bin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ul %><br>
    <%= f.text_field :ul %>
  </div>
  <div class="field">
    <%= f.label :ulica %><br>
    <%= f.text_field :ulica %>
  </div>
  <div class="field">
    <%= f.label :dzielnica %><br>
    <%= f.text_field :dzielnica %>
  </div>
  <div class="field">
    <%= f.label :numer %><br>
    <%= f.text_field :numer %>
  </div>
  <div class="field">
    <%= f.label :suche %><br>
    <%= f.text_field :suche %>
  </div>
  <div class="field">
    <%= f.label :mokre %><br>
    <%= f.text_field :mokre %>
  </div>
  <div class="field">
    <%= f.label :zmieszane %><br>
    <%= f.text_field :zmieszane %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
