<p id="notice"><%= notice %></p>

<p>
  <strong>Ul:</strong>
  <%= @bin.ul %>
</p>

<p>
  <strong>Ulica:</strong>
  <%= @bin.ulica %>
</p>

<p>
  <strong>Dzielnica:</strong>
  <%= @bin.dzielnica %>
</p>

<p>
  <strong>Numer:</strong>
  <%= @bin.numer %>
</p>

<p>
  <strong>Suche:</strong>
  <%= @bin.suche %>
</p>

<p>
  <strong>Mokre:</strong>
  <%= @bin.mokre %>
</p>

<p>
  <strong>Zmieszane:</strong>
  <%= @bin.zmieszane %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bin.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bin.longitude %>
</p>

<%= link_to 'Edit', edit_bin_path(@bin) %> |
<%= link_to 'Back', bins_path %>
