.box-header.with-border
  %h3.box-title Import odpadów wielkogabarytowych
.box-body
  .row
    .col-md-12
      %p.text-center
        = form_tag service_bulky_wastes_path, multipart: true, class: 'form-horizontal' do
          .form-group
            = label_tag :file, t('.file'), class: 'col-sm-2 control-label'
            .col-sm-10
              = file_field_tag :file, class: 'form-control'
          .form-group
            = label_tag :file, t('.area'), class: 'col-sm-2 control-label'
            .col-sm-10
              = select_tag :area, options_from_collection_for_select(Location.areas_combo, :to_s, :to_s), class: 'form-control'
          .form-group
            .col-sm-offset-2.col-sm-10
              = submit_tag t('buttons.submit'), class: 'btn btn-success'
