<div class="box-body">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        <%= form_for([:service, @phrase], html: { multipart: true, class: "form-horizontal" }) do |f| %>
          <div class="form-group">
            <%= f.label :name, t('.name'), class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :fraction_id, t('.fraction'), class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.collection_select :fraction_id, Fraction.all, :id, :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit t("buttons.submit"), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </p>
    </div>
  </div>
</div>
