<div class="box-header with-border">
  <h3 class="box-title">Frazy</h3>
  <%= link_to 'nowa fraza', new_service_phrase_path, class: 'btn btn-primary' %>
  <%= link_to 'import słownika', new_import_data_service_phrases_path, class: 'btn btn-primary' %>
</div>

<div class="box-body table-responsive no-padding">
  <table class="table table-hover">
    <tbody><tr>
      <th>Opis</th>
      <th>Frakcja</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= phrase.name %></td>
        <td><%= phrase.fraction.nil? ? "BRAK" : phrase.fraction.name %></td>
        <td><%= link_to 'edit', edit_service_phrase_path(phrase), class: 'btn btn-info' %></td>
        <td><%= link_to 'usuń', service_phrase_path(phrase), method: :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody></table>
</div>
