<div class="types">
  <a href="#" id='wet_and_dry_wastes' class="recycling x-left-button">
    <%= image_tag "icon_recycling.png" %>
    <span>Odpady mokre, suche i zmieszane</span>
  </a><br>

  <a href="#" id='packaging_wastes' class="electro x-left-button">
    <%= image_tag "icon_electro.png" %>
    <span>Odpady opakowaniowe</span>
  </a><br>

  <a href="#" id='hazardous_wastes' class="bio x-left-button">
    <%= image_tag "icon_bio.png" %>
    <span>Odpady niebezpieczne</span>
  </a><br>

  <a href="#" id='pharmacies' class="leki x-left-button">
    <%= image_tag "icon_leki.png" %>
    <span>Apteki</span>
  </a><br>

  <a href="#" id='bulky_wastes' class="recycling x-left-button">
    <%= image_tag "icon_leki.png" %>
    <span>Odpady wielkogabarytowe</span>
  </a><br>
</div>
