<div class="types x-buttons">
<!--   <a href="#" id='wet_and_dry_wastes' class="wet_and_dry_wastes x-left-button">
    <%= image_tag "icon_recycling.png" %>
    <span>Odpady mokre, suche i zmieszane</span>
  </a><br> -->

  <a href="#" id='packaging_wastes' class="packaging_wastes x-left-button">
    <%= image_tag "icon_opakowania.png" %>
    <span>Odpady opakowaniowe</span>
  </a><br>

  <a href="#" id='hazardous_wastes' class="hazardous_wastes x-left-button">
    <%= image_tag "icon_bio.png" %>
    <span>Odpady niebezpieczne</span>
  </a><br>

  <a href="#" id='pharmacies' class="pharmacies x-left-button">
    <%= image_tag "icon_leki.png" %>
    <span>Apteki</span>
  </a><br>

  <a href="#" id='bulky_wastes' class="bulky_wastes x-left-button">
    <%= image_tag "icon_gabarytowe.png" %>
    <span>Odpady wielkogabarytowe</span>
  </a><br>
</div>
