<div class='left-buttons'>
  <div id='pharmacies' class='left-button x-left-button'>
    <%= fa_icon('medkit') %>
    <span class='hidden'>Apteki</span>
  </div>

  <div id='packaging_wastes' class='left-button x-left-button'>
    <%= fa_icon('glass') %>
    <span class='hidden'>Odpady opakowaniowe</span>
  </div>

  <div id='hazardous_wastes' class='left-button x-left-button'>
    <%= fa_icon('exclamation-circle') %>
    <span class='hidden'>Odpady niebezpieczne</span>
  </div>

  <div id='wet_and_dry_wastes' class='left-button x-left-button'>
    <%= fa_icon('tint') %>
    <span class='hidden'>Odpady mokre, suche i zmieszane</span>
  </div>

  <div id='bulky_wastes' class='left-button x-left-button'>
    <%= fa_icon('archive') %>
    <span class='hidden'>Odpady wielkogabarytowe</span>
  </div>
</div>
