<div class='left-buttons'>
  <div id='pharmacies' class='left-button x-left-button' data-url="<%= geolocations_pharmacies_path %>">
    <%= fa_icon('medkit') %>
    <span class='hidden'>Apteki</span>
  </div>

  <div id='packaging-wastes' class='left-button x-left-button' data-url="<%= geolocations_packaging_wastes_path %>">
    <%= fa_icon('glass') %>
    <span class='hidden'>Odpady opakowaniowe</span>
  </div>

  <div id='hazardous-wastes' class='left-button x-left-button' data-url="<%= geolocations_hazardous_wastes_path %>">
    <%= fa_icon('exclamation-circle') %>
    <span class='hidden'>Odpady niebezpieczne</span>
  </div>

  <div id='wet-and-dry-wastes' class='left-button x-left-button' data-url="<%= geolocations_wet_and_dry_wastes_path %>">
    <%= fa_icon('tint') %>
    <span class='hidden'>Odpady mokre, suche i zmieszane</span>
  </div>

  <div id='bulky-wastes' class='left-button x-left-button' data-url="<%= geolocations_bulky_wastes_path %>">
    <%= fa_icon('archive') %>
    <span class='hidden'>Odpady wielkogabarytowe</span>
  </div>
</div>
