<div class="sidebar x-sidebar">
  <a href="#" class="handle">Pokaż dodatkowe informacje</a>
  <div class="closed">
    <%= image_tag "icon_kalendarz.png", class: "center", style: "width: 44px; height: 42px" %>
  </div>

  <div class="open">
    <div class="text-center header">
      <%= image_tag "icon_kalendarz.png", style: "width: 44px; height: 42px" %>
    </div>

    <div class="location">
      <%= presenter.street %>
      <a href="#" class="close x-close-content">
        <%= image_tag("icon_close.png") %>
      </a>
    </div>

    <div class="tse-scrollable wrapper x-scroll">
      <div class="tse-scroll-content">
      <div class="tse-content date-set">
        <% presenter.data_by_weekday.each do |weekday, group| %>

          <div class="date x-place">
            <b>Co <%= t("date.day_names")[weekday] %></b>
            <% group.each do |item| %>
              <p>
              <%= link_to place_info_path(item[:id]), remote: true do %>
                <%= item[:title] %>
                <% if item[:group_name] %>
                  <br>
                  <span class="item-label"><%= item[:group_name] %></span>
                <% end %>
              <% end %>
              </p>
            <% end %>
          </div>
          <hr>
        <% end %>

        <% presenter.places_for_monthdays.each do |item| %>
          <div class="date x-place">
            <%= link_to place_info_path(item[:id]), remote: true do %>
              <b>
                <%= item[:date] ? l(item[:date], format: :place_info) : "Co #{t("date.day_names")[item[:weekday]]}" %>
              </b>
              <br>
              <%= item[:title] %>
            <% end %>
          </div>
          <hr>
        <% end %>
      </div></div>
    </div>

    <div class="news">
      <h2>Informacje</h2><br>
      <div class="x-place-content">
      <p>Proszę kliknęć w wybrany element na liscie, aby wyświetlić szczegółowe dane.</p>
      </div>
    </div>
  </div>
</div>
