<div class='right-button'><%= fa_icon('calendar') %></div>

<div class='right-content'>
  <div class="slider-form x-form">
    <div class="text-center"><h2>Sprawdź terminy odbioru odpadów</h2></div>

    <%= form_tag search_places_home_path, remote: true do %>
      <div class="form-group">
        <%= text_field_tag :user_location, nil, class: "form-control x-user-location", placeholder: t("placeholders.user_location") %>
        <%= hidden_field_tag :count, 1 %>
      </div>

      <div class="form-group">
        <%= submit_tag t('buttons.search'), class: 'form-control btn btn-info' %>
      </div>
    <% end %>
  </div>

  <div class="x-content hidden"></div>
</div>
