<nav class="navbar top-navbar navbar-fixed-top">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <%= form_tag '#', remote: true, class: "navbar-form" do %>
        <div class="form-group">
          <%= label_tag :garbage_type, "Gdzie mam wyrzucić", class: "control-label" %>
          <%= text_field_tag :garbage_type, nil, class: "form-control input-sm", placeholder: t(".placeholders.garbage_type") %>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<div id="map-canvas"></div>

<div class='left-buttons'>
  <div id='pharmacies' class='left-button x-left-button'>
    <%= fa_icon('medkit') %>
    <span class='hidden'>Apteki</span>
  </div>

  <div id='packaging-wastes' class='left-button x-left-button'>
    <%= fa_icon('glass') %>
    <span class='hidden'>Odpady opakowaniowe</span>
  </div>

  <div id='hazardous-wastes' class='left-button x-left-button'>
    <%= fa_icon('exclamation-circle') %>
    <span class='hidden'>Odpady niebezpieczne</span>
  </div>

  <div id='wet-and-dry-wastes' class='left-button x-left-button'>
    <%= fa_icon('tint') %>
    <span class='hidden'>Odpady mokre, suche i zmieszane</span>
  </div>

  <div id='bulky-wastes' class='left-button x-left-button'>
    <%= fa_icon('archive') %>
    <span class='hidden'>Odpady wielkogabarytowe</span>
  </div>
</div>

<div class='right-button'><%= fa_icon('calendar') %></div>
<div class='right-content'></div>
