<a href="#" class="handle">Pokaż dodatkowe informacje</a>

<div class="closed">
  <%= image_tag 'icon_kalendarz.png', class: "center", style: "width: 44px; height: 42px" %>
</div>

<div class="open">
  <div class="text-center header">
    <%= image_tag 'icon_kalendarz.png', style: "width: 44px; height: 42px"%>
  </div>

  <div class="location">Gdzie wyrzucić:
    <a href="/" class="close">
      <%= image_tag 'icon_close.png' %>
    </a>
  </div>

  <div class="tse-scrollable wrapper dark-green">
    <div class="tse-content">
      <div class="fs18 text-center">Punkty odbioru:</div>
      <div class="fs12 text-center">Kliknij na adres by pokazać na mapie</div>
      <% places.each do |place| %>
        <p><%= link_to place[:street], mobile_map_place_info_path(place[:id]), class: 'fs24' %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="back show-for-mobile">
  <a href="/" class="back">
    <%= image_tag 'icon_back.png' %>
    Wróć
  </a>
</div>
