%a.handle{:href => "#"} Pokaż dodatkowe informacje
.closed
  = image_tag 'icon_kalendarz.png', class: "center", style: "width: 44px; height: 42px"
.open
  .text-center.header
    = image_tag 'icon_kalendarz.png', style: "width: 44px; height: 42px"
  .location
    Gdzie wyrzucić:
    %a.close{:href => "/"}
      = image_tag 'icon_close.png'
  .tse-scrollable.wrapper.dark-green
    .tse-content
      .fs18.text-center Punkty odbioru:
      .fs12.text-center Kliknij na adres by pokazać na mapie
      - places.each do |place|
        %p= link_to place[:street], mobile_map_place_info_path(place[:id]), class: 'fs24'
.back.show-for-mobile
  %a.back{:href => "/"}
    = image_tag 'icon_back.png'
    Wróć
