= render 'home/navbar'
= render 'home/buttons'
= render 'home/sidebar'
.back.show-for-mobile
  %a.back{ href: '/' }
    = image_tag 'icon_back.png'
    Wróć
:javascript
  var userLocation = new google.maps.LatLng("#{@place.latitude}", "#{@place.longitude}");

  var marker = new google.maps.Marker({
    position:  userLocation,
    map:       map,
    animation: google.maps.Animation.BOUNCE
  });

  centerTo(userLocation, 16);
