var placeLocation = new google.maps.LatLng('#{@place_info.latitude}', '#{@place_info.longitude}');

if(clickedPlaceCache){
clickedPlaceCache.setMap(null);
}

clickedPlaceCache = new google.maps.Marker({
map: map,
position: placeLocation,
animation: google.maps.Animation.BOUNCE
});

centerTo(placeLocation, 16);

$('.x-place-content').html(
'#{"<p><strong>Adres:</strong> #{@place_info.data[:info]}</p>".html_safe if @place_info.data[:info]}' +
'#{"<p><strong>Nazwa:</strong> #{@place_info.data[:name]}</p>".html_safe if @place_info.data[:name]}' +
'#{"<p><strong>Kod pocztowy:</strong> #{@place_info.data[:post_code]}</p>".html_safe if @place_info.data[:post_code]}' +
'#{"<p><strong>Telefon:</strong> #{@place_info.data[:phone_number]}</p>".html_safe if @place_info.data[:phone_number]}' +
'#{"<p><strong>Rodzaj:</strong> #{@place_info.data[:group_name]}</p>".html_safe if @place_info.data[:group_name]}' +
'#{"<p><strong>Dzielnica:</strong> #{@place_info.data[:area]}</p>".html_safe if @place_info.data[:area]}' +
'#{"<p><strong>Numer:</strong> #{@place_info.data[:number]}</p>".html_safe if @place_info.data[:number]}'
);

relocateTrackpadScroll();
