<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Import danych</li>
      <li class="treeview">
        <%= link_to new_service_pharmacy_path do %>
          <%= fa_icon('medkit') %>
          <span>Apteki</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to new_service_packaging_waste_path do %>
          <%= fa_icon('glass') %>
          <span>Odpady opakowaniowe</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to new_service_hazardous_waste_path do %>
          <%= fa_icon('exclamation-circle') %>
          <span>Odpady niebezpieczne</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to new_service_wet_and_dry_waste_path do %>
          <%= fa_icon('tint') %>
          <span>Odpady mokre, suche, ...</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to new_service_bulky_waste_path do %>
          <%= fa_icon('archive') %>
          <span>Odpady wielkogabarytowe</span>
        <% end %>
      </li>

      <li class="header">Inne</li>

      <li class="treeview">
        <%= link_to service_phrases_path do %>
          <%= fa_icon('archive') %>
          <span>Frazy</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to service_fractions_path do %>
          <%= fa_icon('archive') %>
          <span>Frakcje</span>
        <% end %>
      </li>

      <li class="treeview">
        <%= link_to service_descriptions_path do %>
          <%= fa_icon('archive') %>
          <span>Opisy frakcji</span>
        <% end %>
      </li>

      <li class="header">Monitoring</li>

      <li class="treeview">
        <%= link_to sidekiq_web_path do %>
          <%= fa_icon('tachometer') %>
          <span>Sidekiq (procesy w tle)</span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
