.box-body
  .row
    .col-md-12
      %p.text-center
        = semantic_form_for([:zut, @container], url: (@container.persisted? ? zut_container_path(@container) : zut_containers_path), html: { class: "form-horizontal" }) do |f|
          = f.input(:street_name, collection: Location.street_list, label: t('formtastic.labels.wastes_packaging_waste.street'))
          = f.input(:street_number, label: t('formtastic.labels.wastes_packaging_waste.street_number'))

          = f.input(:clear_glass_containers, as: :number, label: t('formtastic.labels.wastes_packaging_waste.clear_glass_containers'))
          = f.input(:colorful_glass_containers, as: :number, label: t('formtastic.labels.wastes_packaging_waste.colorful_glass_containers'))
          = f.input(:plastic_containers, as: :number, label: t('formtastic.labels.wastes_packaging_waste.plastic_containers'))
          = f.input(:maculature_containers, as: :number, label: t('formtastic.labels.wastes_packaging_waste.maculature_containers'))

          = f.input(:latitude)
          = f.input(:longitude)

          #container-map

          = f.action :submit
