.box-header.with-border
  .row
    .col-sm-6
      %h3.box-title
        Pojemniki
    .col-sm-6.text-right
      = link_to 'Nowy adres kontenerów', new_zut_container_path, class: 'btn btn-primary'

.box-body
  %form.filters{action: '', method: :get}
    .row
      .col-sm-3
        Dzielnica:
        = select_tag('district[]', options_from_collection_for_select(@districts, 'id', 'name', params[:district]), multiple: true, size: 8, class: 'form-control')

      .col-sm-3
        Rodzaj asortymentu:
        = select_tag('type[]', options_from_collection_for_select(@container_types, 'first', 'last', params[:type]), multiple: true, size: 8, class: 'form-control')

      .col-sm-3
        Rejon:
        = select_tag('route[]', options_from_collection_for_select(@routes, 'id', 'name', params[:route]), multiple: true, size: 8, class: 'form-control')
      .col-sm-12
        = submit_tag('Filtruj', name: 'format_type', class: 'btn btn-primary')
        = submit_tag('Eksportuj', name: 'format_type', class: 'btn btn-primary')


.box-body.table-responsive.no-padding
  %table.table.table-hover
    %tbody
      %tr
        %th Lokalizacja
        %th.picture Zdjęcie
        %th.action Edytuj
        %th.action Usuń
      - @containers.each do |container|
        %tr
          %td= container.street
          %td.picture
            - if container.picture?
              = image_tag(container.picture.url)
          %td.action= link_to 'edit', edit_zut_container_path(container), class: 'btn btn-info'
          %td.action= link_to 'usuń', zut_container_path(container), method: :delete, class: 'btn btn-danger', confirm: "Czy na pewno usunąć pojeminiki #{container.street}"

  = will_paginate(@containers)
