.box-header.with-border
  %h3.box-title Frakcje
  = link_to 'Nowa frakcja', new_service_fraction_path, class: 'btn btn-primary'
.box-body.table-responsive.no-padding
  %table.table.table-hover
    %tbody
      %tr
        %th Nazwa
        %th Opis
        %th Kategoria
        %th Edycja
        %th Usuń
      - @fractions.each do |fraction|
        %tr
          %td= fraction.name
          %td= fraction.description.nil? ? "BRAK" : truncate(fraction.description, length: 30)
          %td= fraction.waste_data.nil? ? "BRAK" : fraction.waste_data.name
          %td= link_to 'edit', edit_service_fraction_path(fraction), class: 'btn btn-info'
          %td= link_to 'usuń', service_fraction_path(fraction), method: :delete, class: 'btn btn-danger'
